.form {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mazonLogo {
    height: 130px;
    width: 482px;
    margin-top: 70px;
    margin-bottom: 20px;
    transition: all 0.25s ease;
}

.backLink {
    margin-top: 20px;
}

.input-error {
    border: 3px solid #d42121;
}

.input-error:focus {
    border: 3px solid #d42121;
}

.button-error {
  background: #d42121;
  border-radius: 12px;
  box-shadow: #d42222 0 11px 22px -11px;
  box-sizing: border-box;
  color: #fefefe;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 20px 42px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 4px 6px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.25s ease;
}

.button-error:hover {
    padding: 24px 46px;
    margin: 8px 10px;
}

.button-error:focus {
    background: #fc4d4d;
}