.form {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mazonLogo {
    height: 130px;
    width: 482px;
    margin-top: -130px;
    margin-bottom: 40px;
}

.backLink {
    margin-top: 20px;
}